<div class="form-group">

    <div class="form-group">
        <label class="col-md-4"> EmpID</label>
        <input type="text" class="form-control"
        #empId onfocus="this.value=''"/>
    </div>
    <br>
    <div class="form-group">
       
      <button class="btn btn-success" (click)="getEmployeeById(empId)">Search</button>
    </div>

   </div>
    <br>


    

    <div class="col-md-6">
    
    <table class="table table-striped">
        <thead>
        <tr>
            <td>EmpId</td>
            <td>Name</td>         
            <td>Designation</td>
            <td>Salary</td>
        </tr>   
        </thead>

        <tbody>
            <tr *ngFor="let emp of employees">
                <p *ngIF="emp.empId==empId.value">
                 <td> {{emp.empId}}</td>  
                 <td> {{emp.name}}</td>              
                 <td> {{emp.designation}}</td>
                 <td> {{emp.salary}}</td>
                </p>

            </tr>
        </tbody>
    </table>
    </div>